.container {
  background: linear-gradient(to right, #dee7f4, #b2d6f3);
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  box-sizing: border-box;
}
